<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/head.ejs') %>
  <body>
    <%- include('../includes/header.ejs') %>
    <main>
      <h1>My products</h1>
      <% if (products.length > 0) { %>
      <div class="grid">
        <% for (product of products) { %>
      </div>
      <% if (product.title.length > 0) { %>
        <article class="product">
          <header>
            <h2><%= product.title %></h2>
            <img src="<%= product.imageUrl %>" alt="<%= product.title %>" />
            <h3>$<%= product.price %></h3>
            <p><%= product.description %></p>
          </header>
          <a href="/admin/edit-product">Edit</a>
          <form action="/admin/delete-product" method="POST">
            <button type="submit">Delete</button>
          </form>
        </article>
      <% } %>
      <% } } else { %>
        <p>No products have been added.</p>
      <% } %>
    </main>
  </body>
</html>
